{{#extends 'base'}}

    {{#block 'content'}}
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Meal</lth>
                    <th>Calories</th>
                    <th>Tags</th>
                    <th>Date</th>
                </tr>
            </thead>
            {{#each foodRecords}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.meal}}</td>
                    <td>{{this.calories}}</td>
                    <td>{{this.tags}}</td>
                    <td>{{date this.date "DD/MM/YYYY"}}</td>
                </tr>
            {{/each}}
        </table>
    {{/block}}

{{/extends}}