{{#extends 'base'}}

    {{#block 'content'}}
        <h1>Food Records <a href="/food/add" class="btn btn-primary">Add new food</a></h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Meal</lth>
                    <th>Calories</th>
                    <th>Tags</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thead>
            {{#each foodRecords}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.meal}}</td>
                    <td>{{this.calories}}</td>
                    <td>{{this.tags}}</td>
                    <td>{{date this.date "DD/MM/YYYY"}}</td>
                    <td>
                        <a href="/food/{{this._id}}/update" class="btn btn-primary btn-sm" >Edit</a>
                        <a href="/food/{{this._id}}/delete" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            {{/each}}
        </table>
    {{/block}}

{{/extends}}